{% for recent_comment in recent_comments %}
    <div class="recent_comment">
        <div class="row-fluid">
            <div class="recent_comment_name"><a href="{{ path('bloggerblog_blogArticle',{'blog_name':blog_info.address,'article_name' : recent_comment.article_address}) }}#comment{{ recent_comment.id }}">{{ recent_comment.name }}</a></div>
            <div class="recent_comment_date">{{ recent_comment.date|date("Y/m/d") }}</div>
        </div>
        <div class="row-fluid recent_comment_comment">{{ recent_comment.comment }}</div>
    </div>
{% endfor %}