<html>
<head>
    <meta charset="utf-8">
    <meta content="text/html">
    <title>مدیریت {{ app.user.blogName }}</title>
    <link rel="stylesheet" href="{{ asset("bundles/bloggerblog/css/bootstrap.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/bloggerblog/css/style_admin.css") }}">
    <script type="text/javascript" src="{{ asset("bundles/bloggerblog/js/ckeditor/ckeditor.js") }}" ></script>
    {% block head_page %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{{ path('bloggerblog_blogHomepage',{'blog_name': app.user.username}) }}">{{ app.user.blogName }}</a>
        </div>
        <div class="wrapper">
            <div class="content_out">
                {% for flashMessage in app.session.flashbag.get('adminSuccess') %}
                    <div class="alert alert-block alert-success" data-dismiss="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage|raw}}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('adminError') %}
                    <div class="alert alert-block alert-success" data-dismiss="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage|raw}}
                    </div>
                {% endfor %}
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="sidebar">
                <div class="sidebar_in">
                    {% block sidebar_top %}
                    {% endblock %}
                        <div class="">
                            <ul class="nav nav-list bs-docs-sidenav">
                                {#<li><a href="{{ path("bloggerblog_blogAdmin_index") }}"> داشبورد</a></li>#}
                                <li><a target="_blank" href="{{ path('bloggerblog_blogHomepage',{'blog_name': app.user.username}) }}">مشاهده وبلاگ</a></li>
                                <li><a href="{{ path("bloggerblog_blogAdminAddArticle") }}"> ایجاد مطلب جدید</a></li>
                                <li><a href="{{ path("bloggerblog_blogAdminShowRecentArticles") }}"> ویرایش مطالب قبلی</a></li>
                                <li><a href="{{ path("bloggerblog_blogAdminShowRecentComments",{'articleId' : 'notApprove'}) }}"> مشاهده نظرات تائید نشده</a></li>
                                <li><a href="{{ path("bloggerblog_blogAdminShowRecentComments",{'articleId' : 'all'}) }}"> مشاهده آخرین نظرات</a></li>
                                <li><a href="{{ path("bloggerblog_blogAdminEditTemplate") }}"> ویرایش قالب</a></li>
                                <li><a href="{{ path("bloggerblog_blogAdminEditProfile") }}"> ویرایش پروفایل</a></li>
                                <li><a href="{{ path("fos_user_change_password") }}"> ویرایش رمز عبور</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">خروج</a></li>
                            </ul>
                        </div>
                    {% block sidebar_bottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block before_end_body %}{% endblock %}
    <script src="{{ asset("bundles/bloggerblog/js/jquery.min.js") }}" ></script>
    <script src="{{ asset("bundles/bloggerblog/js/bootstrap.js") }}" ></script>
    <script type="text/javascript">
        CKEDITOR.config.height='400px';
    </script>
</body>
</html>