<html>
<head>
    <meta charset="utf-8">
    <meta content="text/html">
    <title>مدیریت {{ blog_info.name }}</title>
    <link rel="stylesheet" href="{{ asset("bundles/bloggerblog/css/bootstrap.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/bloggerblog/css/style_admin.css") }}">
    <script type="text/javascript" src="{{ asset("bundles/bloggerblog/js/ckeditor/ckeditor.js") }}" ></script>
    {% block head_page %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{{ path('bloggerblog_blogHomepage',{'blog_name': blog_info.address}) }}">{{ blog_info.name }}</a>
        </div>
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav pull-right">
                    <li><a href="{{ path('fos_user_security_logout') }}">خروج</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path('bloggerblog_blogHomepage',{'blog_name': blog_info.address}) }}">وبلاگ {{ blog_info.name }}</a></li>
                </ul>
                <ul class="nav pull-left">
                    <li class="pull-left"><a href="{{ path('bloggerblog_homepage') }}">صفحه اصلی</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="content_out">
                {% for flashMessage in app.session.flashbag.get('adminSuccess') %}
                    <div class="alert alert-block alert-success" data-dismiss="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage|raw}}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('adminError') %}
                    <div class="alert alert-block alert-success" data-dismiss="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage|raw}}
                    </div>
                {% endfor %}
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="sidebar">
                <div class="sidebar_in">
                    {% block sidebar_top %}
                    {% endblock %}
                        <div class="">
                            <ul class="nav nav-list bs-docs-sidenav">
                                <li><a href="{{ path("bloggerblog_blogAdmin") }}"> داشبورد</a></li>
                                <li><a href="{{ path("bloggerblog_blogAdminAddArticle") }}"> ایجاد مطلب جدید</a></li>
                                <li><a href="{{ path("bloggerblog_blogAdminShowRecentArticles") }}"> ویرایش مطالب قبلی</a></li>
                                <li><a href="#modals"> مشاهده نظرات تائید نشده</a></li>
                                <li><a href="{{ path("bloggerblog_blogAdminShowRecentComments") }}"> مشاهده آخرین نظرات</a></li>
                                <li><a href="#scrollspy"> ویرایش پروفایل</a></li>
                            </ul>
                        </div>
                    {% block sidebar_bottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block before_end_body %}{% endblock %}
    <script src="{{ asset("bundles/bloggerblog/js/jquery.min.js") }}" ></script>
    <script src="{{ asset("bundles/bloggerblog/js/bootstrap.js") }}" ></script>
</body>
</html>