{% extends "bloggerblogBundle:AdminBlog:AdminBlogBase.html.twig" %}
{% block head_page %}
    <script type="text/javascript">
        function removeArticle(id,title){
            result = confirm("آیا واقعا می خواهید مطلب زیر را حذف کنید\n"+title);
            if(result){
                window.location.assign("{{ path('bloggerblog_blogAdminRemoveArticle',{'address':"-"})|slice(0,-1) }}"+id);
            }
        }
    </script>
{% endblock %}

{% block content %}

    <div class="headers_wrapper">مقالات اخیر</div>
    <div class="content_in">
        <table class="table table-hover table-condensed table-striped">
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.article_date|date("Y/m/d") }}</td>
                    <td style="width: 430px"><a href="{{ path("bloggerblog_blogAdminEditArticle",{'address' : article.article_address}) }}">{{ article.article_title }}</a></td>
                    {% if article.article_comment_count == 0 %}
                    <td style="width: 60px">بدون نظر</td>
                    {% else %}
                    <td style="width: 60px"><a href="{{ path('bloggerblog_blogAdminShowRecentComments',{'articleId': article.article_id}) }}">{{ article.article_comment_count }} نظر</a></td>
                    {% endif %}
                    <td><div class="btn btn-danger" onclick="removeArticle('{{ article.article_address }}','{{ article.article_title }}')" title="حذف مقاله"><i class="icon-trash"></i></div></td>
                    <td><a class="btn btn-info" href="{{ path('bloggerblog_blogArticle',{'blog_name':app.user.username,'article_name' : article.article_address}) }}" title="مشاهده مقاله"><i class="icon-search"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagination.count > 1 %}
            <div class="pagination pagination-centered">
                <ul>
                    {% if pagination.current <  pagination.count %}
                        <li><a href="{{ path('bloggerblog_blogAdminShowRecentArticles',{'start': pagination.count}) }}">پایان</a></li>
                        <li><a href="{{ path('bloggerblog_blogAdminShowRecentArticles',{'start': pagination.current+1}) }}">بعدی</a></li>
                    {% endif %}
                    {% for i in pagination.count..1 %}
                        {% if i == pagination.current %}
                            <li class="active"><a href="{{ path('bloggerblog_blogAdminShowRecentArticles',{'start': i}) }}">{{ i }}</a></li>
                        {% else %}
                            <li><a href="{{ path('bloggerblog_blogAdminShowRecentArticles',{'start': i}) }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pagination.current > 1 %}
                        <li><a href="{{ path('bloggerblog_blogAdminShowRecentArticles',{'start': pagination.current-1}) }}">قبلی</a></li>
                        <li><a href="{{ path('bloggerblog_blogAdminShowRecentArticles',{'start': 1}) }}">شروع</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
