{% extends "bloggerblogBundle:AdminBlog:AdminBlogBase.html.twig" %}
{% block head_page %}
    <script type="text/javascript">
        function removeComment(id,title){
            result = confirm("آیا واقعا می خواهید نظر زیر را حذف کنید\n"+title);
            if(result){
                window.location.assign("../admin/removeComment/"+id);
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="headers_wrapper">نظرات اخیر</div>
    <div class="content_in">
        <table class="table table-condensed">
            <tbody>
            {% for comment in comments %}
                <tr {% if comment.confirmed %}
                    class="success"
                {% else %}
                    class="error"
                        {% endif %}>
                    <td style="width: 80px">{{ comment.date | date("Y/m/d") }}</td>
                    <td>{{ comment.name }}</td>
                    <td>در <a href="{{ path('bloggerblog_blogArticle',{'blog_name':blog_info.address,'article_name' : comment.articleAddress}) }}#comment{{ comment.id }}" title="مشاهده نظر">{{ comment.articleTitle }}</a></td>
                    {% if comment.confirmed %}
                        <td style="width: 80px">تائید شده</td>
                        <td style="width: 0"></td>
                        <td style="width: 40px"><div class="btn btn-danger" onclick="removeComment('{{ comment.id }}','{{ comment.name }}')" title="حذف نظر"><i class="icon-remove"></i></div></td>
                    {% else %}
                        <td style="width: 80px">تائید نشده</td>
                        <td style="width: 40px"><a class="btn btn-success" href="{{ path('bloggerblog_blogAdminApproveComment',{'id': comment.id}) }}" title="تایید نظر"><i class="icon-ok"></i></a></td>
                        <td style="width: 40px"><div class="btn btn-danger" onclick="removeComment('{{ comment.id }}','{{ comment.name }}')" title="حذف نظر"><i class="icon-remove"></i></div></td>
                    {% endif %}
                </tr>
                <tr {% if comment.confirmed %}
                    class="success"
                {% else %}
                    class="error"
                        {% endif %}>
                    <td colspan="6" style="border-bottom: 5px  #ddddff solid">{{ comment.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
