{% extends "bloggerblogBundle:Blog:blogBase.html.twig" %}
{% block sidebar %}
    {{ include(
    '@bloggerblog/Blog/sidebar/recentArticle.html.twig',
    { 'recent_articles': recent_articles }
    ) }}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="headers_wrapper">{{ article_info.title }}</div>
        <div class="content_in">
            <div class="article_date" style="width: 100%">تاریخ آخرین ویرایش: {{ article_info.date|date("Y/m/d") }}</div>
            <div class="article_body">{{ article_info.body | raw }}</div>
            <div style="clear: both"></div>
            <div class="headers_wrapper">نظرات</div>
            {% if article_info.comments is empty %}
                <div style="margin: 10px 0;">بدون نظر</div>
            {% else %}
                {% for article_comment in article_info.comments %}
                    {{ include(
                    '@bloggerblog/Blog/Article/comment.html.twig',
                    { 'article_comment': article_comment }
                    ) }}
                {% endfor %}
            {% endif %}
            <div class="headers_wrapper">ارسال نظر جدید</div>
            <div class="width_100_percent">
                {{ form(comment_form) }}
            </div>
        </div>
    </div>
{% endblock %}