{% extends('@bloggerblog/Default/homeBase.html.twig') %}
{% block content %}
    <div class="headers_wrapper">فهرست وبلاگ ها</div>
    <div class="content_in">
        <table class="table table-striped table-hover">
            <tbody>
                {% for blog in blog_list %}
                    <tr>
                        <td style="text-align: justify"><a href="{{ path('bloggerblog_blogHomepage',{'blog_name': blog.blog_address}) }}">{{ blog.blog_name }}</a></td>
                        <td style="text-align: justify">{{ blog.blog_description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pagination.count > 1 %}
        <div class="pagination pagination-centered">
            <ul>
                {% if pagination.current <  pagination.count %}
                    <li><a href="{{ path('bloggerblog_showBlogList',{'start': pagination.count}) }}">پایان</a></li>
                    <li><a href="{{ path('bloggerblog_showBlogList',{'start': pagination.current+1}) }}">بعدی</a></li>
                {% endif %}
                {% for i in pagination.count..1 %}
                    {% if i == pagination.current %}
                        <li class="active"><a href="{{ path('bloggerblog_showBlogList',{'start': i}) }}">{{ i }}</a></li>
                    {% else %}
                        <li><a href="{{ path('bloggerblog_showBlogList',{'start': i}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if pagination.current > 1 %}
                    <li><a href="{{ path('bloggerblog_showBlogList',{'start': pagination.current-1}) }}">قبلی</a></li>
                    <li><a href="{{ path('bloggerblog_showBlogList',{'start': 1}) }}">شروع</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}